# A base .gitignore for Quantum Computing with Jupyter Notebook

# macOS
.DS_Store

# Python and Jupyter Notebook
__pycache__/
__pypackages__/
.ipynb_checkpoints
obj/

# Environments
.env
.venv
env/
venv/
